:root {
  /* Font families. */
  --font-family-gilroy: 'Gilroy', sans-serif;
  --font-family-proxima: 'Proxima Nova', sans-serif;

  /* Font sizes. */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-1xl: 1.5rem;
  --font-size-2xl: 2rem;
  --font-size-3xl: 2.625rem;

  /* Line heights. */
  --line-height-sm: 0.75;
  --line-height-md: 1.625;

  /* Color */
  --primary-color: #ffffff;
  --secondary-color: #151515;
  --yellow-color: #FEE040;
  --yellow-hovered-color: #FFEB81;
  --black-color: #000000;
}